<template name="doctors">
    <h1>Add Doctors to your Care Team</h1>
    <ul class="list-group">
        {{#each doctorUsers}}
            {{> doctor}}
        {{/each}}
    </ul>
</template>

<template name="doctor">

    <li class="list-group-item">
        {{username}}
        <button class="btn btn-outline-primary pull-right chat">
            Chat with Doctor
        </button>
        &emsp;&emsp;&emsp;
        <button class="btn btn-outline-primary pull-right add">
            {{#if alreadyFavourited _id}} Remove from Care Team {{else}} Add to Care Team {{/if}}
        </button>
    </li>
</template>

