<template name="commentForm">
    {{#if isInRole 'doctor'}}
        <!-- Comment Form-->
        <div id="commentForm-wrap col-lg-6 col-md-8 col-sm-10 mx-auto">

            <form class="comment-post">
                <label for="postReply" class="sr-only">Question Post</label>
                <textarea name="postReply" id="postReply" class="form-control" placeholder="Respond to this question!" rows="5"></textarea>
                <button class="ui button blue fluid" type="submit">Post Reply</button>
            </form>
        </div>


        <!-- End Comment Form-->
    {{else}}
        <!-- Redirect Guest to Login Form-->

        <!-- End Redirect Guest to Login Form-->
    {{/if}}
</template>