<template name="Queries">
    {{> queryList}}
</template>

<template name="queryList">
    <div class="items">
        {{#each queries}}
            {{> singleQueries}}
        {{/each}}
    </div>
</template>

<template name="singleQueries">
    <div class="item">
        <div class="item-content">
            <h3><a href="{{detail}}">{{title}}</a><span>{{createdAt}}</span></h3>
        </div>
    </div>
</template>

<template name="queryPage">
    <div class="item">
        <div class="item-content">
            {{> singleQueries}}
        </div>
    </div>
</template>